.banner-titulo{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFB3D48E;
  color: #000000;
}
.nosotros{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;

}

.valores{
  padding-top: 2px;
  padding-bottom: 12px;
  background-color:$secondary-color;
  height: 350px;
  color: #ffffff;
  .icon{
    font-size: 50px;
    color: #ffffff;
  }
}

.photo-gallery{
  border-top: 1px #2e384d;
}